@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0px 20px;
}

header {
  background-color: #ddd;
  padding: 100px 0px;
}

header h1 {
  font-size: 42px;
}

section {
  padding: 50px 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.message {
  word-wrap: break-word;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-btn .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navbar .menu {
  display: none; /* Hide the menu by default */
}

.navbar.show-menu .menu {
  display: block; /* Show the menu when the show-menu class is added */
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #f8fafc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.menu a {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: block;
}
